@model TeamManager.DataProvider.OverTime

@{
    ViewBag.Title = "Delete";
}
<script type="text/javascript">
    $(function () {
        $("#OnDate,#Hours,#Status").attr({ class: "form-control", disabled:true });
    });
</script>

@using (Html.BeginForm("Delete", "OverTime", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", id = "ovInfo_del", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset disabled>
        <legend>Are you sure that you want to delete this?</legend>
        <div class="form-group">
            <label class="text-info">On</label>
            <br />
           @Html.EditorFor(model => model.OnDate)
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">Last</label>
            <br />
           @Html.DropDownList("Hours", (IEnumerable<SelectListItem>)ViewData["List"], "--Select One--")
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">Status</label>
            <br />
            @Html.EditorFor(model => model.Status)
            <br />
        </div>
    </fieldset>
    <p></p>
    <button id="Delete" class="btn btn-danger" type="submit">Delete</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
}
