@model TeamManager.Models.UserAlertList

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">

    function btnRemove_Click() {
        $(this).parent().parent().remove();
        $("#tbFiles tbody tr").each(function (index) {
            var txtName="txt"+(index+1);
            $(this).children().first().children().first().attr("name", txtName);
        });
    }

    function btnRemoveAlert_Click() {
        $(this).parent().parent().remove();
        $("#tbAlertFiles tbody tr").each(function (index) {
            var txtName = "txt" + (index + 1);
            $(this).children().first().children().first().attr("name", txtName);
        });
    }

    $(function () {

        
        $(".selectpicker").selectpicker();
 

        $("#alertSubmit").click(function () {
            $("#alertForm").submit();
        });

        $("input[value='remove']").click(btnRemove_Click);

        $("#btnAddFile").click(function () {
            var trContent = "<tr></tr>";
            $("#tbFiles tbody").append(trContent);

            var tdContent = "<td><textarea class='form-control' style='width:300px;' name='txt" + $("#tbFiles tbody tr").length + "'></textarea></td>"+
                "<td><input type='file' name='fileToUpload' class='form-control' style='width:400px;height:45px' /></td>";
            $("#tbFiles tbody tr").last().append(tdContent);

            tdContent = "<td><input type='button' value='remove' class='btn btn-warning btn-sm'/></td>";
            $("#tbFiles tbody tr").last().append(tdContent);

            $("input[value='remove']").last().click(btnRemove_Click);
        });

        $("input[value='removed']").click(btnRemoveAlert_Click);

        $("#btnAddAlertFile").click(function () {
            var trContent = "<tr></tr>";
            $("#tbAlertFiles tbody").append(trContent);

            var tdContent = "<td><textarea class='form-control' style='width:180px;' name='txt" + $("#tbAlertFiles tbody tr").length + "'></textarea></td>" +
                 "<td><input type='file' name='fileToUpload' class='form-control' style='width:230px;height:45px' /></td>";
            $("#tbAlertFiles tbody tr").last().append(tdContent);

            tdContent = "<td><input type='button' value='removed' class='btn btn-warning btn-sm'/></td>";
            $("#tbAlertFiles tbody tr").last().append(tdContent);

            $("input[value='removed']").last().click(btnRemoveAlert_Click);
        });

        $("#interval").change(function () {
            if ($(this).val() == "3") {
                $("#editNumId").attr("disabled", "true");
            }
            else {
                $("#editNumId").removeAttr("disabled");
            }
        });


        $("#startTime").datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: true,
            showMeridian: 1,
            minView: 0,
            format: "mm/dd/yyyy hh:ii"
        });
    });
</script>

<h2>Create</h2>

@using (Html.BeginForm("Create", "UserAlert", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User Information</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">ToUser</label>
            <div class="col-sm-10">
                @Html.ListBox("ToUser", new MultiSelectList(ViewBag.UserList,"Value","Text"),new {@class="selectpicker",Multiple = "multiple"})
                @Html.ValidationMessageFor(model => model.userList.user.UserID)
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">CcUser</label>
            <div class="col-sm-10">
                @Html.ListBox("CcUser", new MultiSelectList(ViewBag.UserList,"Value","Text"),new {@class="selectpicker",Multiple = "multiple"})
                @Html.ValidationMessageFor(model => model.userList.user.CcUser)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">AlertID</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.userList.user.ABID, (IEnumerable<SelectListItem>)ViewData["ABID"],new { @class="form-control"}) 
                @Html.ValidationMessageFor(model => model.userList.user.ABID)           
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10" style="float:right">
            @if (ViewBag.Title == "Create" && User.Identity.Name.Split(',')[0] == "yemol")
            {
                <a class="btn btn-default btn-default" data-toggle="modal" href="#CreateDialog">Create Basic Alert</a>
            }
            </div> 
        </div>
               
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                 @Html.TextBoxFor(model => model.userList.user.AUTitle,new { @class="form-control"})
                 @Html.ValidationMessageFor(model => model.userList.user.AUTitle)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.userList.user.AUContent,10,50,new {@class="form-control",@style = "resize: none;"})
                @Html.ValidationMessageFor(model => model.userList.user.AUContent)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
                @Html.RadioButtonFor(model => model.userList.user.AUStatus, 1,new {@class="radio-inline" ,@checked="checked"})valid
                @Html.RadioButtonFor(model => model.userList.user.AUStatus, 0,new {@class="radio-inline" })invalid
                @Html.ValidationMessageFor(model => model.userList.user.AUStatus)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Interval</label>
            <div class="col-sm-10">
                @Html.DropDownList("interval", (IEnumerable<SelectListItem>)ViewData["List"], new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.userList.user.AUInterval)
            </div>
        </div>

       <div class="form-group">
            <label class="col-sm-2 control-label">UnitNum</label>
            <div class="col-sm-10">
                 @Html.TextBoxFor(model => model.userList.user.AUUnitNum, new {@id="editNumId" ,@class="form-control"})
                @Html.ValidationMessageFor(model => model.userList.user.AUUnitNum)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">StartTime</label>
            <div class="col-sm-10">
                 @Html.TextBoxFor(model => model.userList.user.AUTime, new { @id = "startTime",@class="form-control"})
                @Html.ValidationMessageFor(model => model.userList.user.AUTime)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Remark</label>
            <div class="col-sm-10">
                 @Html.TextAreaFor(model => model.userList.user.AURemark,5,100,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.userList.user.AURemark)
            </div>
        </div>

</fieldset>
        
<fieldset>
<legend>User Attach</legend>
        <table id="tbFiles" style="width:70%;" class="table table-striped">
            <thead>
                <tr>
                    <th>Remark</th>
                    <th>Files</th>
                    <th><input type="button" id="btnAddFile" value="add" class="btn btn-info btn-sm"/></th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td><textarea name="txt1" class="form-control" style="width:300px;"></textarea></td>
                    <td><input type="file" name="fileToUpload" class="form-control" style="width:400px;height:45px"/></td>                                         
                    <td><input type="button" value="remove" class="btn btn-warning btn-sm"/></td>
                </tr>
            </tbody>
        </table>
</fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default"})
}

<div class="modal fade" id="CreateDialog" tabindex="-1" role="dialog" aria-labelledby="CreateDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="CreateDialogLabel">Create Basic Alert</h3>
                <div class="modal-body">
                    @using (Html.BeginForm("CreateAlert", "UserAlert", FormMethod.Post, new { @id = "alertForm",@class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        
                        Html.RenderPartial("CreateAlertPartial", Model);                        
                    }
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="alertSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
