@model TeamManager.Models.VoteItemModel

@{
    ViewBag.Title = "ItemAdd";
}

@using (Html.BeginForm("ItemAdd", "Vote", FormMethod.Post, new { @class = "form-horizontal" }))
{    
    @Html.HiddenFor(model => model.PId)

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vote Item information 提名项信息</legend>

        <div><label id="WarnMsg" style="color:red;">@ViewBag.Message</label></div>

        <div class="form-group">
            <label for="Name" class="col-sm-2 control-label">Name<br />提名项名称</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label for="ProjectName" class="col-sm-2 control-label">Project Name<br />项目名称</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", @readonly="readonly"})
                @Html.ValidationMessageFor(model => model.ProjectName)
            </div>
        </div>

        <div class="form-group">
            <label for="Members" class="col-sm-2 control-label">Members<br />被提名成员</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Members, new { @class = "form-control", @readonly="readonly"})
                <a class="btn btn-success btn-sm" data-toggle="modal" href="#CreateDialog">Select</a>
                @Html.ValidationMessageFor(model => model.Members)
            </div>
        </div>
        <div class="modal fade" id="CreateDialog" tabindex="-1" role="dialog" aria-labelledby="CreateDialogLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="CreateDialogLabel">Select the member</h3>
                    </div>
                    <div class="modal-body" >
                        <div>
                            <label style="color:blue">Please enter key word in below textbox to search user.</label>
                            <input type="text" id="txtSearchUser" onkeyup="SearchUser()" onchange="SearchUser()" class = "form-control"/> 
                            @*<button id="NameSearch" class="btn btn-primary" onclick="SearchUser()" type="button">Search</button>*@
                        </div>
                        <span class="checkbox-group">
                        @foreach (TeamManager.DataProvider.User u in ViewBag.users)
                        {                            
                                <label style="width:180px;cursor:pointer;background-color:none;">
                                    <input type="checkbox" value="@u.UserID"/>
                                    @u.UserName
                                </label>
                        }
                    </span>
                    </div>
                    <div class="modal-footer">
                        <button id="Save" class="btn btn-primary" onclick="selectUser()" type="button">Select</button>
                        <button id="close" class="btn btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Comment" class="col-sm-2 control-label">Comment<br />提名评语</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "ItemList", new { id = Model.PId }, new { @class = "btn btn-default" })
        </p>
    </fieldset>
}

<script type="text/javascript">
    function selectUser(e) {
        var users = $(":checkbox[checked=checked]");
        var userList="";
        users.each(function(){
            userList+=$(this).val()+";";
        });
        $("#Members").val(userList);
        $('#CreateDialog').modal('hide')
    }
    //click search button
    function SearchUser(e)
    {//debugger
        var filterName = $("#txtSearchUser").val().toLowerCase();
        $(":checkbox").each(function () {
            if (filterName != "" && filterName != null) {
                if ($(this).val().toLowerCase().search(filterName) > -1) {  // 
                    $(this).parent().attr("style", "width:180px;cursor:pointer;background-color:yellow"); //Add background color
                    if (filterName.match($(this).val().toLowerCase()))
                    {
                        $(this).attr("checked", "checked");
                    }
                } else {
                    $(this).parent().attr("style", "width:180px;cursor:pointer;background-color:none");
                }
            } else {
                $(this).parent().attr("style", "width:180px;cursor:pointer;background-color:none");
            }
        });
    }

    $(function () {
        $('#CreateDialog').on('show.bs.modal', function (e) {
            var userList = $("#Members").val();
            $(":checkbox").each(function () {
                if (userList.match($(this).val())) {
                    $(this).attr("checked","checked");
                } else {
                    $(this).removeAttr("checked");
                }
            });
        });
    })
</script>