﻿@model TeamManager.Models.VoteModel
@{
    ViewBag.Title = "Result";
}

<div class="navigate">@Html.ActionLink("View Project History", "VoteProjectIndex", null, new { @class = "btn btn-primary", role = "button" })</div>
<fieldset>
   <legend>@Html.Raw(Model.Project.Name)  投票结果</legend>
   <P style="color:darkgoldenrod;">温馨提示：黄色进度条表示该项目你已投票，蓝色进度条表示你该项目未投票。</P>
    <div class="content">
	@{
		if (Model != null && Model.Items != null && Model.Items.Count > 0)
		{
			int maxVal = Model.Items[0].Count + 2;
			foreach (var item in Model.Items)
			{
				<p>@Html.Raw(item.Name + "(" + item.Members + ")" + "  VoteCount:" + item.Count) &nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw(item.IsSelected?"<strong>You Voted</strong>":"")</p>
				<div class="progress">
					<div class="progress-bar @Html.Raw(item.IsSelected?"progress-bar-warning":"")" role="progressbar" aria-valuenow="@item.Count" aria-valuemin="0" aria-valuemax="@maxVal"
						 style="width:@Html.Raw(item.Count * 100 / maxVal)%">
						
					</div>
				</div>
			}
		}
	}
    </div>
</fieldset>
<style>
	.content {
		width: 60%;
	}
    .navigate {
        text-align:right
    }
</style>