@model TeamManager.Models.VoteProjectModel

@{
    ViewBag.Title = "VoteProjectDelete";
}


@using (Html.BeginForm("VoteProjectDelete", "Vote", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", id = "vpInfo_del", role = "form" }))
{
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Are you sure that you want to delete this?</legend>
    <div class="form-group">
            <label class="text-info">Name</label>
            <br />
           @Html.EditorFor(model => model.voteproject.Name)
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">TermFrom</label>
            <br />
           @Html.EditorFor(model => model.voteproject.TermFrom)
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">TermTo</label>
            <br />
            @Html.EditorFor(model => model.voteproject.TermTo)
            <br />
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">BeginTime</label>
            <br />
           @Html.EditorFor(model => model.voteproject.BeginTime)
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">EndTime</label>
            <br />
            @Html.EditorFor(model => model.voteproject.EndTime)
            <br />
        </div>
        <p></p>
        <div class="form-group">
            <label class="text-info">Vote number</label>
            <br />
           @Html.EditorFor(model => model.voteproject.VoteNum)
        </div>
</fieldset>
    <p></p>
    <button id="Delete" class="btn btn-danger" type="submit">Delete</button>
    @Html.ActionLink("Back to List", "VoteProjectIndex", null, new { @class = "btn btn-default" })
}

<script type="text/javascript">
    $(function () {
        $("#Name,#TermFrom,#TermTo,#BeginTime,#EndTime,#VoteNum").attr({ class: "form-control", disabled: true });
    });
</script>