<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - QA System</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="@Url.Content("~/Content/easy.ui/easyui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/easy.ui/icon.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.MultiFile.js")" type="text/javascript"></script>       

        <script src="~/Scripts/default.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">Offshore QA System</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @*<li>@Html.ActionLink("Request", "RequestTest", "Request")</li>*@
                            <li>@Html.ActionLink("Request", "RequestTestList", "Request")</li>
                            <li>@Html.ActionLink("Test", "TestList", "Test")</li>
                            @{
                                if (ViewBag.UserID == "jackie.wang" || ViewBag.UserID == "yemol" || ViewBag.UserID == "liping.fang")
                                {
                                    <li>@Html.ActionLink("Assign Test", "TestAssignList", "Test")</li>                            
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Elliemae Shanghai Offshore</p>
                </div>
            </div>
        </footer>
    </body>
</html>
